.title {
  display: none;
}
#content {
  max-width: 900px !important;
  width: 900px !important;
}
.index .column {
  float: left;
}
.index .column.first {
  width: 500px;
  margin-right: 100px;
}
.index .column.last {
  width: 300px;
}
.index:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
