.title {
  display: none;
}
@media (min-width: 800px) {
  #content {
    max-width: 800px !important;
    width: 800px !important;
  }
}
@media (min-width: 800px) {
  .index .org-ul {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-gap: 3em;
    -webkit-column-gap: 3em;
    column-count: 2;
    column-gap: 3em;
  }
}
