.centered {
  margin: 0 auto;
  max-width: 960px;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans;
  background: #fdf6e3;
  color: #839496;
}
body h1,
body h2,
body h3 {
  font-weight: 700;
}
body h1 img,
body h2 img,
body h3 img {
  vertical-align: middle;
}
body h1 {
  color: #cb4b16;
}
body h2 {
  color: #2aa198;
}
body h3 {
  font-weight: normal;
  font-size: 22px;
  color: #859900;
}
body a {
  text-decoration: none;
  color: #268bd2;
}
body a:hover {
  text-decoration: underline;
}
body pre {
  background: white;
}
body code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 2px 4px;
  color: #93a1a1;
}
body img {
  border: 1px solid #ccc;
}
body .tag {
  background: transparent;
}
body .tag span {
  background: #268bd2;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
}
body .pubdate {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", sans-serif;
  font-style: italic;
  color: #586e75;
  font-size: 18px;
  margin-bottom: 20px;
}
body .nav-blog {
  text-align: right;
}
body .org-info-js_info-navigation {
  background: #eee8d5;
}
body #content,
body #postamble {
  margin: 0 auto;
  max-width: 960px;
}
body #content {
  margin-top: 70px;
}
body #postamble {
  font-size: 0.8em;
  margin-top: 50px;
  text-align: center;
  color: #657b83;
}
body .nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background: white;
  border-bottom: 1px solid #cb4b16;
}
body .nav ul {
  list-style: none;
  margin: 0;
}
body .nav ul li {
  display: inline-block;
  margin: 0;
}
body .nav ul li a {
  line-height: 46px;
  display: inline-block;
  color: #cb4b16;
  padding: 0 20px;
  border-radius: 0;
}
body .nav ul li a:hover {
  color: white;
  text-decoration: none;
  background: #cb4b16;
}
