.centered {
  margin: 0 auto;
  max-width: 600px;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans;
  background: white;
  color: #839496;
}
body h1,
body h2,
body h3,
body h4 {
  color: #839496;
  font-weight: 100;
}
body h1 img,
body h2 img,
body h3 img,
body h4 img {
  vertical-align: middle;
  border: 0 none;
}
body h1 {
  color: #0088cc;
}
body h2 {
  color: #0088cc;
  margin-top: 50px;
  position: relative;
}
body h3 {
  font-weight: normal;
  font-size: 22px;
  color: #0088cc;
}
body a {
  text-decoration: none;
  color: #33bbff;
  text-decoration: underline;
}
body a:hover {
  color: #004466;
}
body pre {
  background: white;
}
body code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 2px 4px;
  color: #839496;
}
body img {
  border: 1px solid #ccc;
}
body .tag {
  background: transparent;
  font-size: 0.6em;
}
body .tag span {
  background: #0088cc;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
}
body .pubdate {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", sans-serif;
  font-style: italic;
  color: #aaa;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: -350px;
  text-align: right;
  width: 300px;
  margin-top: -45px;
  position: absolute;
}
body .pubdate p {
  display: inline;
  margin-right: 10px;
}
body .nav-blog {
  text-align: right;
}
body .org-info-js_info-navigation {
  background: #bbbbbb;
}
body #content,
body #postamble {
  margin: 0 auto;
  max-width: 600px;
}
body #content {
  margin-top: 70px;
}
body #postamble {
  font-size: 0.8em;
  margin-top: 50px;
  text-align: center;
  color: #839496;
}
body .nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background: #0088cc;
  border-bottom: 1px solid #004466;
}
body .nav ul {
  list-style: none;
  width: 600px;
  margin: 0 auto;
  padding: 0;
}
body .nav ul li {
  display: inline-block;
  margin: 0;
}
body .nav ul li a {
  line-height: 46px;
  display: inline-block;
  color: white;
  padding: 0 20px;
  border-radius: 0;
  text-decoration: none;
}
body .nav ul li a:hover {
  color: white;
  text-decoration: none;
  background: white;
  color: #0088cc;
}
body #disqus_thread {
  margin-top: 40px;
}
