/* fonts */

body {
    font-family: "Fira Sans", sans;
    font-size: 16px;
    line-height: 1.5em;
    color: #48373E;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fira sans", sans;
    font-weight: 400;
}

h1 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2078a3;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-family: "Fira sans";
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3 {
    font-family: "Raleway";
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h5 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h5 .glyphicon {
    margin-right: 6px;
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

a {
    color: #2078A3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    border-top: solid 3px #2078a3;
}

.container {
    margin-top: 20px;
    margin-bottom: 40px;
}

header .container,
footer .container,
#menu_profile .container {
    margin-top: 0;
    margin-bottom: 0;
}

.logo_color {
    float: left;
    height: 30px;
}

.navbar-default {
    background-color: transparent;
    border: 0 none;
}

.search {
    border-radius: 50px;
    line-height: 1em;
    height: 24px;
    font-size: 12px;
    padding: 4px 12px;
    margin-top: 5px;
}

.navbar-default .navbar-collapse a {
    font-size: 14px;
    line-height: 1.5em;
    color: #48373E;
}

.nav > li > a {
    padding: 10px;
}

.navbar-default .navbar-toggle {
    border: 0 none;
}

.homepage .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2078A3;
}

/* Menu Profile */

#menu_profile {
    border-bottom: solid 1px #ccc;
}

#menu_profile nav {
    margin-bottom: 0;
    margin-left: -15px;
}

#menu_profile nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  
}

#menu_profile nav ul li {
  display: inline-block;
  padding: 0;
}

#menu_profile a {
    font-family: "Raleway";
    display: inline-block;
    font-size: 18px;
    line-height: 1.5em;
    color: #48373E;
    padding: 10px;
    margin-right: 5px;
    border-bottom : 5px solid transparent;
}

#menu_profile a:hover {
    border-bottom : 5px solid #2078a3;
    text-decoration: none;
}

#menu_profile .navbar-default .navbar-nav > .active > a {
    background: transparent;
    border-bottom : 5px solid #2078a3;
}

/* Sidebar */

.profile_image {
    border: solid 1px #CCC;
    margin-bottom : 10px;
}

.sidebar h5 {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 25px;
}

.sidebar li {
    font-size: 0.9em;
}

.sidebar li:after {
    content: "|";
    margin: 5px;
    color: #666;
}

.sidebar li:last-child:after {
    content: "";
    margin: 0;
}

.sidebar ul {
    padding: 0; margin: 0;
    padding-top: 10px;
}

.sidebar ul li {
    display: inline;
    list-style: none;
}

/* Homepage */

.homepage_header {
    background-color: #2078a3;
}

.homepage_header .navbar-default .navbar-nav > li > a,
.homepage_header .navbar-default .navbar-nav > li > a:focus, 
.homepage_header .navbar-default .navbar-nav > li > a:hover {
    color: white;
}

.homepage_header .navbar-default .navbar-nav > li > a:hover {
    text-decoration: underline;
}

h1.tagline {
    font-family: "Raleway";
    font-size: 86px;
    color: #fff;
    text-transform: none;
    line-height: 1em;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

p.tagline {
	  font-size: 22px;
	  color: #fff;
	  padding-top: 30px;
	  padding-bottom: 30px;
	  line-height: 1.4em;
	  margin-bottom: 0em;
    text-align: justify;
}

.button_homepage .btn-default {
	  background-color: transparent;
	  border : solid 2px #fff;
	  border-radius: 40px;
	  line-height: 1em;
	  color: #fff; 
	  font-size: 26px;
	  padding: 10px 15px 10px 15px;
	  margin: 20px 0px 40px 0px;
    width: 250px;
 }

.button_homepage .btn-default hover {
    background-color: #fff;
 	  color: #2078a3;
  	border: solid 2px #fff;
 }
 
.new_publications {
    padding: 20px;
}

.new_publications a {
    color: #2078a3;
    text-decoration: none;
}

.new_publications a:hover {
    text-decoration: underline;
}

.new_publications h2 span {
  color: #2078a3;
}

.new_publications h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.new_publications ul li {
    margin-bottom: 20px;
}

.new_publications .pub_title,
.new_publications .pub_ref,
.new_publications .pub_author {
    display: block;
}


.actualities {
	   background-color: #f5f5f5;
	   padding: 10px;
}

/* Profile */


.publications {
    background-color: #2078a3;
    padding: 20px;
    color: #fff;
}

.publications h2 {
    margin-top: 10px;
}

.publications .row {
    margin-bottom: 20px;
}

.publications a {
    color: #fff;
    text-decoration: none;
}

.publications a:hover {
    text-decoration: underline;
}

.publications h3 {
    font-size: 16px;768
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.publications ul {
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    -ms-column-count: 2;
    -ms-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
}

.publications ul li {
    margin-bottom: 20px;
}

.publications .pub_title,
.publications .pub_ref,
.publications .pub_author {
    display: block;
}

/* Publications */

.article {
  margin-bottom: 20px;
  margin-right: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}

.article a:hover {
    text-decoration: underline;
}

.article h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.article ul {
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    -ms-column-count: 2;
    -ms-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
}

.article ul li {
    margin-bottom: 20px;
}

.article .pub_title,
.article .pub_ref,
.article .pub_author {
    display: block;
}

.button .btn-default {
    border: solid 1px #2078a3;
    border-radius: 40px;
    line-height: 1em;
    color: #2078a3;
    font-size: 22px;
    padding: 20px 30px 20px 30px;
    margin: 20px 30px 20px 30px;
}

.button .btn-default hover {
    background-color: #2078a3;
    font: #fff;
}

/* Search */

.searchbar {
  background: #2078a3;
  padding: 6px;
  position: relative;
}

.searchbar > * {
  display: inline;
}

.searchbar .search-field {
    position: absolute;
    right: 0;
    left: 105px
}

.searchbar .dropdown-menu, 
.searchbar .btn,
.searchbar .btn-default.active.focus {
    background: #2078a3;
}



/* Footer */

footer {
    background-color: #000;
    padding: 20px 0;
    font-size: 0.9em;
    text-align: center;
}

footer a, footer a:hover {
    color: white;
}

/* media queries */

/* Phone */
@media (max-width: 767px) {

}

/* Tablet */
@media (min-width: 768px, max-width: 1023px) {

}

/* Handheld */
@media (max-width: 1023px) {

}

/* Desktop */
@media (min-width: 1024px) {

}

@media (max-width: 767px) {
    .desktop-only {
      display: none;
    }

    .nav.navbar-nav {
        background: white;
    }
    
    .homepage .navbar-default .navbar-toggle:focus, 
    .homepage .navbar-default .navbar-toggle:hover {
      background: white;
    }
    
    .homepage .navbar-default .navbar-toggle:focus .icon-bar,
    .homepage .navbar-default .navbar-toggle:hover .icon-bar {
      background: #2078A3;
    }
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border: 0 none;
    }
    
    .homepage_header .navbar-default .nav.navbar-nav > li > a {
        color: #2078A3;
        font-size: 1.1em;
        border-bottom: 1px solid #ddd;
    }
    
    .homepage_header .navbar-default .nav.navbar-nav > li:last-child > a {
        border-bottom: 0;
    }
    
    .homepage_header .navbar-default .nav.navbar-nav > li > a:hover {
        text-decoration: none;
    }
    
    .homepage_header .navbar-default .nav.navbar-nav > li > a:focus {
        background: #2078A3;
        color: white;
    }

    .homepage_header h1, 
    .homepage_header p,
    .homepage_header .button_homepage {
        text-align: center;
    }
    
    .homepage_header h1 {
        font-size: 45px;
    }
    
    .homepage_header p {
        font-size: 18px;
    }

    /* Profile */

    .profile h1 {
        text-align: center;
        border: 1px solid #ccc;
        border-left: 0;
        border-right: 0;
    }
    
    #menu_profile {
      border: 0 none;
    }
    
    #menu_profile a {
      font-size: 0.9em;
      font-weight: bold;
    }
}
